<h2>Return to normal status</h2>
<p>User {} ({}) has now returned to {} status as of {}.</p>
<p>If your usage continues at a high level, your limits may be reduced again for longer periods of time.</p>
<p>Please consider using a cluster node for computationally intensive work.  <a href=mailto:scicomp@fredhutch.org>Scientific Computing</a> is available if you have any questions or need assistance.</p>
