<h2>High Usage on a Rhino Node</h2>
<p>High usage by {} ({}) on {} was automatically detected starting at {}.</p>
<p>This may indicate that you are running computationally-intensive work on an interactive node that would be better run on cluster nodes instead.</p>
<p>You now have the status "{}" because of this high usage. Your CPU usage is now limited to {}% of your original limit ({}) for the next {} minutes. In addition, your memory limit is {}% of your original limit ({} GB) for the same period of time.</p>

<p> More information about Rhino use can be <a href="https://sciwiki.fredhutch.org/compdemos/rhino-load-management/">found on the SciWiki</a>.  If you have any questions, please <a href="mailto:scicomp@fredhutch.org">email Scientific Computing</a></p>

<h2>Notes on Usage Calculation</h2>
<p>Usage values are recent averages. Instantaneous usage metrics may differ. The processes listed are probable suspects, but there may be some variation in the processes responsible for your impact on the node. Memory usage is expressed in GB and CPU usage is relative to one core (and may exceed 100% as a result).</p>
